body{
color: #18b;
text-align: center;
font-family:'Gill Sans', 'Gill Sans MT';
font-size: 16px;
margin: 0;
padding: 0;
}

#cabecera{
    background-color: #88b;
box-shadow: -1px -1px 5px 8px rgb(97, 97, 131);
  color: white;
  margin: 0;
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
  
}

#cabecera #tagline{
    padding: 0 0 0 2em;
    font-weight: normal;
    font-size: 0.8em;
    
}

#container{
    width: 75%;
    padding: 1.1em;
    text-align:left;
    border: 2px dashed #DDD;
    border-radius:8px;
    border-width: 3px;
    margin: 0 auto;
    margin-top: 2px;
}

#container h1{
    font-size: 20px;
}

#post{
    padding: 0.8em
}